<!-- TAG PAGE -->
<body class="page">
    <header> 
        <h1>
            Tag: <%- page.tag %>
        </h1>
    </header>

    <hr>

    <main>
        <p>
            [<a href="<%- url_for('tags/index.html') %>">All tags</a>]
        </p>

        <h3 style="font-weight:normal">
            Posts tagged <code><%- page.tag %></code>:
        </h3>

        <%- // we dont show drafts BUT we do show unlisted posts.
            page.posts.filter(p => !p.draft)
                      .map(p => `<a href="${url_for(p.path)}">${p.title}</a>`)
                      .join('<br>')
        %>
    </main>

    <hr>

    <footer>
        <%- partial('partials/site-footer') %>
    </footer>
</body>

