<!-- POST -->
<body class="post">
    <header class="serif">
        <h1 class="slim">
            <%- page.title %>
            <%- partial("partials/permalink", { link: page.permalink }) %>
        </h1>
    </header>

    <hr>

    <main class="sans-serif">
        <%- page.content %>
    </main>

    <hr>

    <footer>
        <%- partial('partials/post-footer.ejs', { page, tags: page.tags }) %>

        <hr>
        
        <%- partial('partials/site-footer.ejs') %>

   </footer>

</body>

